<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <div class="star-rating" data-score= "<%= @avg_rating %>"></div>
    <p><%= "#{@reviews.length} reviews" %></p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>

    <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

    <br><br>
    <iframe
    width="230"
    height="230"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_zdHNGE59Um-hDi0BlZ9udmHG_Mb2yE8
    &q=<%= @restaurant.address.parameterize %>&zoom=20" allowfullscreen>
    </iframe>

  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>리뷰가 없어요. 처음으로 리뷰를 써 보세요!</h3>
    <% else %>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= review.created_at.strftime("%Y년 %-m월%-d일%l시") %></p>
              </td>
              <td>
                <div class="star-rating" data-score= "<%= review.rating %>"></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "편집", edit_restaurant_review_path(@restaurant, review) %>
                    <%= link_to "삭제", restaurant_review_path(@restaurant, review), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    score: function() {
      return $(this).attr('data-score');
    },
    path: 'https://s3.ap-northeast-2.amazonaws.com/nutsnbolts/stars',
    readOnly: true
  });
</script>